html, body {
	height: 100%;
}

body {
	background-image: url(img200.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 30px;
  font-family: Luminari;
/*  background-color: white;*/
}

.title {
	background-color: grey;
}

a {
	color: black;
}

.link-noteApp {
	display: flex;
	justify-content: center;
	background-color: grey;
	max-width: 215px;
	margin: auto;
	margin-bottom: 35px;
	font-family: Luminari;
}

.container-addToDo {
	display: flex;
	justify-content: center;
}

.btn-addToDo {
	font-size: 20px;
}

.input-toDo {
	width: 250px;
}