html, body {
	height: 100%;
}

body {
	background-image: url(img200.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 30px;
  font-family: Luminari;
}

.title {
	background-color: grey;
	border-radius: 8px;
}

a {
    display: flex;
    justify-content: center;
    background-color: grey;
    max-width: 215px;
    margin: auto;
    margin-bottom: 35px;
    font-family: Luminari;
    border-radius: 5px;
    color: black;
}

/*.link-noteApp {
	display: flex;
	justify-content: center;
	background-color: grey;
	max-width: 215px;
	margin: auto;
	margin-bottom: 35px;
	font-family: Luminari;
}*/

.container-addToDo {
	display: flex;
	justify-content: center;
}

.btn-addToDo {
	font-size: 20px;
}

.btn-clear {
	font-size: 20px;
}

.input-toDo {
	width: 250px;
}

.container-toDoList {
	display: flex;
	justify-content: center;
	flex-direction: column-reverse;
/*    margin-left: 418px;*/
}

.toDoItem {
	background-color: lightgrey;
	margin-bottom: 10px;
/*	max-width: 238px;*/
	display: flex;
	justify-content: space-between;
	border-radius: 5px;
}

.toDoDiv {
	display: flex;
    justify-content: center;
}

.btn-delete {
	margin-left: 10px;
}

