body {
	background-color: #1E90FF;
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 30px;
}

.container-data {
	display: flex;
	flex-direction: column-reverse;
	max-width: 330px;
}

.container-form {
	display: flex;
	justify-content: center;
}

.note-content {
	max-width: 800px;
	border-style: solid;
	border-color: black;
	display: flex;
	margin: auto;
    overflow: scroll;
    background-color: white;
}

.ui-dialog-titlebar-close{
    display: none;
}

.ui-dialog-titlebar {
	background-color: white;
	border-bottom: solid;
	border-color: black;
}

.ui-dialog {
	border: solid;
	border
	border-color: black;
	outline: none;
	overflow: hidden;
}

.btn-clear {
/*	margin-left: 10px*/
	background-color: red;
}

.btn-submit {
	background-color: green;
	margin-left: 10px;
	margin-right: 10px;
}

.btn-delete {
	margin-right: 20px;
	background-color: orange;
}

.popUp-dialogUI {
	opacity: 1;
	background-color: white;
}

.note {
	margin-bottom: 10px;
}

.btn-clearInput {
	margin-right: 10px;
}

.topic-list-input {
	margin-right: 10px;
}

.btn-topics {
	margin-right: 10px;
}