html, body {
	height: 100%;
}

body {
	background-image: url(img287.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.btn-div {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 30px;
  font-family: Luminari;
}

.title {
	background-color: grey;
}

.container-data {
	display: flex;
	flex-direction: column-reverse;
/*	justify-content: center;
	align-items: center;*/
	max-width: 330px;
}

.container-form {
	display: flex;
	justify-content: center;
}

.note-content {
	max-width: 730px;
	border-style: solid;
	border-color: black;
	display: flex;
	margin: auto;
    overflow: scroll;
    background-color: grey;
    outline: none;
}

.ui-dialog-titlebar-close{
    display: none;
}

.ui-dialog-titlebar {
	background-color: white;
	border-bottom: solid;
	border-color: black;
}

.ui-dialog {
	border: solid;
	border
	border-color: black;
	outline: none;
	overflow: hidden;
	max-height: 500px
}

.btn-clear {
	background-color: red;
}

.btn-submit {
	background-color: green;
	margin-left: 10px;
	margin-right: 10px;
}

.btn-delete {
	margin-right: 20px;
	background-color: orange;
}

.popUp-dialogUI {
	opacity: 1;
	background-color: grey;
}

.topic {
	margin-bottom: 10px;
	width: 200px;
	display: flex;
	justify-content: center;
	background-color: grey;
}

.note {
	margin-bottom: 10px;
	width: 200px;
	background-color: grey;
}

.btn-clearInput {
	margin-right: 10px;
	width: 50px;
}

.topic-list-input {
	margin-right: 10px;
}

.btn-topics {
	margin-right: 10px;
	background-color: grey;
}

a {
	color: black;
}

.link-ToDo {
	display: flex;
	justify-content: center;
	background-color: grey;
	max-width: 215px;
	margin: auto;
	margin-bottom: 35px;
	font-family: Luminari;
}